@model NeoSocial.ViewModels.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}


	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<img src="~/Content/Image/neologo.png" /> 
			</div>
            
            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                <div class="login-form">
				<div class="control-group">
				@Html.TextBoxFor(a => a.userLogin.UserName, new {id = "login-name", @class = "login-field", @required = "required"})
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				@Html.TextBoxFor(a => a.userLogin.UserName, new {id = "login-pass", @class = "login-field", @required = "required", type="password"})<input type="password" class="login-field" value="" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
                <br />
				<input type="submit" class="btn btn-primary btn-large btn-block" value="Login"/>
                <br />
				 @Html.ActionLink("Şifremi Unuttum","ForgotPassword", "User")

                @Html.ActionLink("Index' e git.","Index", "Home")

                 @Html.ActionLink("Üye ol","Register","Register")
			</div>
            } 
		
		</div>
	</div>